[2014-02-17 10:37] wheresrhys opened #1 "Proposed implementation"
@triblondon @dansearle-ft @kavanagh @richard-still-ft @markstephens

I've been giving some more thought to o-dialog, how it should work and how configuration/extension should happen. Here's what I propose
1. rename to o-overlays as this is a marginally more generic term for content that sits on top of the main flow (anyone got any better ideas?)
2. o-overlays provides an instance manager and has a

[2014-02-17 10:55] wheresrhys opened #2 "Add full screen option"
Currently snap to full width and snap to full height are independent of each other. Would be good to have an option whereby if full height is triggered it automatically triggers full width and vice versa

[2014-02-18 17:06] wheresrhys opened #3 "Define non-js experience"
Probably should:
- navigate when src is a url
- for hidden content stored in the page maybe find a way of incorporating the pattern of pointing to #container and having container hidden off screen, made visible using css `:target` (though this is of limited use as ie8 and below don't support :target anyway)
- do nothing (and hide trigger?) when src is anything else

[2014-02-18 17:12] wheresrhys opened #4 "Remove jquery"
Similar util to https://github.com/Financial-Times/o-gallery/blob/master/src/js/galleryDOM.js could handle most of what's needed. Additional functionality needed would be
- ajax (not required yet, but will be)
- robust innerHTML and clone implementations (jquery 2 still jumps through a few hoops to get them to work in ie9+)

[2014-02-25 16:04] triblondon opened #6 "Remove header from demo"
Could you remove the FT header from the demo?  Ideally the loremipsum too - demo should focus entirely on the demoed thing.

[2014-02-26 09:56] #6 closed, assigned to nobody

[2014-03-25 13:37] wheresrhys opened #8 "Is data-o-dialog__trigger config object in html the right pattern?"
from triblondon: https://github.com/Financial-Times/ft-origami/issues/147#issuecomment-38559095
Regarding the specific mechanism for sign in dialogs, I think the thing that I'm nervous of here is that you have one component's (signin) markup contained by another (dialog), and in this case, there also exists other sign in markup outside of the dialog.

Would it be better to place the dialog markup

[2014-07-24 08:52] wheresrhys opened #9 "Change description"
bower.json, origami.json and github page need changing to something more descriptive of what the module will be - presumably will have no instance manager o-layers abstracts that away

[2014-08-21 16:02] triblondon opened #11 "One trigger per overlay?"
Just did a code review of #10 with @AlbertoElias and I think it's worth considering a change to the way that triggers work.  I wanted the possibility of multiple trigger elements per overlay because it seemed easy, and useful, but it actually turns out to significantly complicate a declarative implementation, because the overlay is largely _defined_ by data attributes on the trigger element, meani

[2014-08-27 14:31] #4 closed, assigned to nobody

[2014-08-27 15:37] #1 closed, assigned to nobody

[2014-08-27 15:57] #8 closed, assigned to nobody

[2014-08-27 15:58] #9 closed, assigned to nobody

[2014-09-03 14:53] #11 closed, assigned to nobody

[2014-09-03 14:54] #3 closed, assigned to nobody

[2014-09-03 14:58] triblondon opened #15 "Registry demo doesn't size correctly"
The source code view on the registry is fixed now (was stumbling over HTML inside a `<script>` tag) but the demo itself isn't visible.

I think it's the height: 100% on the body.  Try min-height instead.  Also, remove the background color so that the demo can show transparency (sorry I think it was me that suggested adding it, but I forgot that in the registry we want to show transparency)

[2014-10-21 09:52] pauloneillft opened #17 "close icon on compact off-centre"
![screen shot 2014-10-21 at 10 45 07](https://cloud.githubusercontent.com/assets/3977053/4716401/f7176e64-5907-11e4-90cc-b3b6da718ad6.png)

[2014-10-28 23:12] #15 closed, assigned to nobody

[2014-10-29 10:36] AlbertoElias opened #18 "Arrowed overlay demo not appearing properly in lower height spaces"

[2014-11-11 16:02] pauloneillft opened #19 "Titles on compact only appear as lower case"
The "additional information" heading below doesn't allow to be title case

![screen shot 2014-11-11 at 16 01 06](https://cloud.githubusercontent.com/assets/3977053/4995962/02884722-69bc-11e4-8b36-b6909d5f9f91.png)

[2014-12-03 15:00] roland-vachter opened #23 "Error thrown when clicking on modal background"
Uncaught TypeError: Cannot read property 'contains' of undefined

The code which initializes:

[code]

As stated in the documentation, only `html` or `src` are required parameters, but it seems that it fails to work when `trigger` is omitted.
Expected behavior would be to close when clicking on the modal background.

[2014-12-04 15:14] #23 closed, assigned to nobody

[2014-12-09 09:57] roland-vachter opened #25 "Resizing the page throws an error"
When the browser is resized, this error is thrown:

[code]

[2014-12-09 10:42] roland-vachter opened #27 "Close modal overlay when clicking the modal background"
Major sites has this feature, the modal overlay closes when you click on the modal background.
It is especially useful when you are on a touch device and don't want to try to touch that little close icon.

Isn't this something we should think about, if not default, but an optional feature?

[2014-12-09 10:49] roland-vachter opened #28 "Create o-overlay content using HTMLElement"
Currently there's two options: src and html. src as querySelector (which means the content should be in the DOM), or a plain html.

The origami spec says HTMLElement should be accepted as well:

[code]

The most elegant way is to use createElement or createDocumentFragment and use that as a content, without transforming it to plain HTML or inserting it to the DOM.

[2014-12-09 12:37] #28 closed, assigned to nobody

[2014-12-10 16:14] #25 closed, assigned to nobody

[2014-12-12 10:08] roland-vachter opened #31 "Overlay not positioned in the center"
Between certain window sizes, the overlay enters full height mode, but there would be enough place to position it to center horizontally. Probably there's a mismatch between the ranges of the vertical and horizontal positioning.

![image](https://cloud.githubusercontent.com/assets/4048999/5409903/a1e9cc84-81f7-11e4-9fbf-37741e745bf9.png)

[2014-12-18 14:42] pauloneillft opened #32 "Cross icon"
Currently is an image. Agreed today to change to an font character icon.
@AlbertoElias

[2015-01-06 12:47] cristinanegoescu opened #33 "O-overlay wrapper is 'undefined' first time when the overlay is opened"
Hello,

I'm trying to insert the o-overlay component for ft.com and I have some problems.

Here is the code I'm using:

[code]

When the page is loading and I click on the button to open the overlay, I get 'undefined' value for wrapper and wrapper_el.length is 0. And if I close it and open again, the wrapper is ok and also I get wrapper_el.length = 1. Why is not working first time and why is worki

[2015-01-06 13:53] AlbertoElias commented on #19
This was fixed in #21

[2015-01-06 14:49] AlbertoElias commented on #33
So what's happening here is that the trigger isn't instantiated until the build service emits the o.DOMContentLoaded event, and that happens when the page has loaded. I spoke with @cristinanegoescu and explained how she could instantiate the module manually but adding the autoinit=0 in the build service url and running bundle['o-overlay'].init().

About the second issue, you can set config options

[2015-01-06 14:50] roland-vachter opened #34 "IE8 alignment issue"
![image](https://cloud.githubusercontent.com/assets/4048999/5630191/1e7f699a-95c4-11e4-9f17-ee2d637193a7.png)

[2015-01-06 14:51] roland-vachter commented on #34
IE8 is a primary browser for FT.com, and all functionality that is included should fully support IE8.

[2015-01-06 18:18] AlbertoElias commented on #34
Did you manage to load the overlay using the polyfill service?

[2015-01-07 08:13] roland-vachter commented on #34
Yes, the latest polyfill service is on the page.

[2015-01-07 08:39] roland-vachter commented on #34
The modal background isn't displayed either.

[2015-01-07 10:08] cristinanegoescu opened #35 "Overlay is not displayed in IE8 even if the polyfill was included"
There is still an issue for the 'o-overlay' component in IE8. Even if I included the polyfill service, the overlay is not opened. I also tried the demo http://build.origami.ft.com/files/o-overlay@1.1.3/demos/overlay-with-arrow.html replacing the polyfill url using Charles application and the problem can be reproduced. Do you have any clue how this can be fixed?

[2015-01-07 10:18] AlbertoElias commented on #35
What did you substitute the polyfill url with?

[2015-01-07 13:31] roland-vachter opened #36 "Close icon not centered in latest Firefox"
![image](https://cloud.githubusercontent.com/assets/4048999/5646218/41b5646e-9682-11e4-9b50-0b8127090dc0.png)

[2015-01-07 14:15] AlbertoElias commented on #36
Duplication of #17

[2015-01-07 14:15] #36 closed

[2015-01-07 14:28] kaelig commented on #32
Thanks for letting me know. Giving it a shot and will keep you up to date.

[2015-01-07 15:09] AlbertoElias commented on #35
There's a pr open in the [polyfill service](https://github.com/Financial-Times/polyfill-service/pull/237) to support HTMLElement in ie8. The other issue is that registry demos use MutationObserver which in ie8 makes it break the whole page. That doesn't mean the module itself doesn't work but demos won't work

Adding the polyfill and removing the registry script, I managed to get the overlay to ap

[2015-01-07 15:30] triblondon commented on #35
Mutation observer dependency can be removed from the registry trivially, I posted instructions on how to do that while I was on holiday but if no-one's picked it up I can easily do it this afternoon.

We can also add a polyfill for it to the polyfill service (there's one in the web components project maintained by Google)=

[2015-01-07 15:45] AlbertoElias commented on #35
@triblondon I didn't see that. Whatever solution we decide to go with, I think it would be useful for people to test demos in ie8 if we need to support it in some cases.

[2015-01-07 15:46] AlbertoElias commented on #34
I can't seem to emulate this? I saw the modal background issue, but not the alignment one. Can you send me a test case please?

[2015-01-07 15:47] AlbertoElias commented on #33
@cristinanegoescu Can this be closed?

[2015-01-07 15:48] AlbertoElias commented on #31
nudging @roland-vachter

[2015-01-07 15:48] #19 closed

[2015-01-07 15:49] roland-vachter commented on #34
Visit this page in IE8, logged in with a prod account: http://uat.ftalphaville.ft.com/marketslive/2014-10-22-2/
Click the commenting settings link.

This is how the overlay is created:

[code]

[2015-01-07 15:51] #33 closed

[2015-01-07 15:51] roland-vachter commented on #31
So the overlay is positioned differently on the same window size, let's say 1024x768:
1. open the page with this window size
2. open the page with a higher window size, let's say full HD, and narrow it down to 1024x768.

The result of 1 and 2 are different in terms of positioning the overlay.

[2015-01-07 16:11] AlbertoElias commented on #34
This is what I get in ie8 ![screen shot 2015-01-07 at 16 05 18](https://cloud.githubusercontent.com/assets/913117/5648623/c469acf8-9687-11e4-8ef1-0fae1e48bd5c.png)

In Chrome I get a chat but can't find the commenting settings link

[2015-01-07 16:13] roland-vachter commented on #34
Then try TEST environment of FT.com, log in with a TEST account, and access any article. You should need to have a pseudonym set, if not, just put a comment and you'll be asked (that is using o-overlay as well :) )

[2015-01-07 17:30] kaelig commented on #32
The only way I can see to have an entirely coherent rendering across platforms in a retro-compatible way (without pushing a major version of this module) is to use pseudo elements to build a `+` sign, and then orienting the object 45 deg with CSS transforms to make it look like a `×`.

Since IE < 9 doesn't support CSS transforms, we need to use a filter.

Using this [matrix calculator](http://www.

[2015-01-07 19:21] triblondon commented on #32
Why don't we combine the X with the circle in a single icon?  The image service filter function (once fixed to work with icons) would then give you the ability to generate a sprite for legacy support.

[2015-01-08 08:17] roland-vachter commented on #34
It seems this is coming from the content of the overlay, not the overlay itself.

[2015-01-08 08:17] #34 closed

[2015-01-08 09:39] roland-vachter opened #37 "IE8: modal background not visible"
Note: With polyfill service on the page.

[2015-01-08 09:53] AlbertoElias commented on #34
I've fixed the modal background, I will push a pr to that soon with a refactor of the sass to deprecate placeholder classes

[2015-01-08 09:56] AlbertoElias commented on #37
Copying comment from #34:

[2015-01-08 09:58] roland-vachter commented on #37
Ok, cool. Thanks

[2015-01-08 10:01] AlbertoElias commented on #32
We do have three different colours there, the border, circle background and
the x. And they have different states, and also shaded/non-shaded. If we
had a single icon, do you mean an svg where we would colour the different
paths via css?

--

------------------------------
This email was sent by a company owned by Pearson plc, registered office at
80 Strand, London WC2R 0RL.  Registered in England

[2015-01-08 11:34] roland-vachter opened #38 "o-overlay__content bottom truncated in Firefox if it scrolls"
To reproduce access this: http://jsbin.com/temahokuto/1/edit?html,output
Make the area scrollable vertically. Note that it scrolls only to number 20, number 21 is not visible.

In comments this means that the save and cancel buttons are truncated and not visible.

[2015-01-08 13:58] kaelig commented on #38
@AlbertoElias can you please look into this (an easy fix, I believe) and fix it in the rewrite you're currently doing?

[2015-01-08 14:01] kaelig commented on #32
An other solution would be to force the design to only have one icon, no hover state. Then it would be easy to provide a SVG icon with a PNG fallback.

[2015-01-08 14:02] kaelig commented on #17
Discussion continued in #32

[2015-01-08 14:02] #17 closed

[2015-01-08 14:05] kaelig commented on #27
Thanks for pointing this, Roland (and sorry for the delay).

I agree we should add some options to be able to add these interactions:

- exit on "esc" key pressed
- exit on out-of-boundaries click

Can we add this in a v2.1? /cc @AlbertoElias @triblondon

@roland-vachter would you be game for coding it?

[2015-01-08 14:11] AlbertoElias commented on #38
@kaelig I was aware of it yes, and I think it happens in all browsers actually, I believe I saw it yesterday in Chrome. A commit must have broken it

[2015-01-08 14:11] kaelig opened #39 "Use an existing overlay/modal box script?"
After looking at all the issues opened recently (although some have been implementation issues, not from the module itself), the question arises: *is this module trying to re-invent the wheel, but with a square one*?

This type of pattern has been solved in a responsive, cross browser, accessible fashion for many years.

Should we spend the appropriate amount of energy doing this thing right (and

[2015-01-08 14:20] AlbertoElias commented on #27
We have talked about this before and decided not to go with it for consistency purposes. If the debate is on again, we should bring more people to the table

[2015-01-08 15:03] kaelig commented on #27
I'm confused, after looking into it, it seems we already have these two things implemented: https://github.com/Financial-Times/o-overlay/blob/master/src/js/overlay.js#L215

[2015-01-08 15:13] roland-vachter commented on #27
I didn't find how to activate it..

[2015-01-08 15:17] AlbertoElias commented on #27
You can close on external click on non-modal overlays

--

------------------------------
This email was sent by a company owned by Pearson plc, registered office at
80 Strand, London WC2R 0RL.  Registered in England and Wales with company
number 53723.

[2015-01-09 10:42] roland-vachter opened #40 "IE8: error thrown when opening and clicking in the overlay"
Use case to reproduce: http://jsbin.com/nugifeceso/1/edit?html,output

The error:  'length' is null or not an object

[2015-01-09 14:09] roland-vachter opened #41 "Issues with position: fixed in iOS"
http://jsbin.com/borilaregi/1/edit

Open the overlay, note that:
1. it scrolls the page up a bit
2. while the keypad is open, the overlay's position is not fixed (could be iOS issue)
3. Can't scroll to bottom of the overlay.

Note that the overlay has an input box with autofocus.

[2015-01-12 23:37] AlbertoElias commented on #35
Can this be closed @cristinanegoescu?

[2015-01-13 07:39] cristinanegoescu commented on #35
There are still issues in IE8. I would like to keep this issue open until the component will work in IE8. Thanks

[2015-01-13 08:15] AlbertoElias commented on #35
But those issues are raised separately so the discussion for those is happening on separate thread, I was just suggesting it to simplify things as the issues you mentioned have been fixed

[2015-01-13 08:32] cristinanegoescu opened #43 "IE8 issue - overlay-with-arrow centered in the page"
The component is opened and it isn't positioned under the button. It is opened in the middle of the page.

[2015-01-13 08:32] cristinanegoescu commented on #35
IE8 issue: https://github.com/Financial-Times/o-overlay/issues/43

[2015-01-13 08:32] #35 closed

[2015-01-13 11:39] AlbertoElias commented on #41
Position: fixed doesn't work great on iOS, I'll take a look and see if there's a good fix for this

[2015-01-13 14:45] AlbertoElias commented on #2
I think this should be closed until/if a use case comes up. @danskinner @wheresrhys

[2015-01-13 15:35] danskinner commented on #2
Happy with that.

[2015-01-13 15:51] #2 closed

[2015-01-14 15:38] #37 closed

[2015-01-15 17:12] kaelig opened #45 "Accessibility: focus the modal when it's brought up on the screen"
We can probably do it the same way it's been done in o-tabs:

1. Set a `tabindex="0"` on the panel: https://github.com/Financial-Times/o-tabs/blob/master/src/js/Tabs.js#L34
2. Focus and set the outline to 0: https://github.com/Financial-Times/o-tabs/blob/master/src/js/Tabs.js#L62

[2015-01-15 17:25] #40 closed

[2015-01-15 18:48] kaelig commented on #32
Just had some fun… and made the cross in CSS.

http://codepen.io/kaelig/pen/yyMEEE

### Rendering in IE 8:

![screenshot 2015-01-15 18 45 40](https://cloud.githubusercontent.com/assets/85783/5764050/004a035c-9ce7-11e4-9d1d-6c8ddc815543.png)

### Rendering in IE 9

![screenshot 2015-01-15 18 48 17](https://cloud.githubusercontent.com/assets/85783/5764067/216bb24c-9ce7-11e4-8a8e-5ed8039a9f97.png)

@

[2015-01-16 09:42] roland-vachter commented on #40
Is there a way I can see when will this be released as a new version? I can still see this issues.

[2015-01-16 11:07] AlbertoElias commented on #40
Ah, the issue was closed automatically when merging in the pr. There will be a released done today

[2015-01-16 11:08] roland-vachter commented on #40
Cool, thanks.

[2015-01-16 16:21] AlbertoElias commented on #43
Could you check if it's fixed in 1.2.0 and close the issue if so?

[2015-01-16 16:21] AlbertoElias commented on #38
Should be fixed in #42

[2015-01-16 16:22] AlbertoElias commented on #31
Fixed in #46

[2015-01-19 10:00] #43 closed

[2015-01-23 10:42] kaelig opened #48 "Accessibility: aria attributes"
### On the button

[code]

When triggered with an element that's not a button, should also have:
[code]

### On the overlay

[code]

[2015-01-23 13:44] kaelig commented on #32
Fixed in #47 & release 1.3.0

[2015-01-23 13:44] #32 closed

[2015-01-28 13:14] roland-vachter opened #51 "Overlay which needs scroll - without scrollbars on init"
Let's say you have an overlay with a lot of content (large form).
If you open it in a large window size (where scroll is not necessary), then resize your browser window to a very small size, all works perfectly, the horizontal and vertical scrollbars are added to the overlay.
If you open the overlay right away with a small browser size, the scrollbars are not visible (overlay hidden probably). If

[2015-02-05 11:56] roland-vachter opened #52 "Page scroll on Safari"
When opening the overlay, page scrolls to bottom
Affects:
- Safari 5
- Safari 6

[2015-02-05 11:57] roland-vachter opened #53 "No vertical scrollbar after page resize"
If the overlay is open and the browser window is resized to a lower height, there is no vertical scrollbar available to access the content at the bottom of the overlay
Affects:
- all browsers

![image](https://cloud.githubusercontent.com/assets/4048999/6059844/f4cae5ba-ad3e-11e4-8ccc-083b96323ae9.png)

![image](https://cloud.githubusercontent.com/assets/4048999/6059846/faaa0d62-ad3e-11e4-84c4-1ec5

[2015-02-05 14:08] kaelig opened #54 "Accessibility: restore initial focus when leaving the dialog"
See https://www.marcozehe.de/2015/02/05/advanced-aria-tip-2-accessible-modal-dialogs/:

[2015-02-05 14:25] kaelig commented on #54
Related to #45

[2015-02-05 14:28] AlbertoElias commented on #53
It seems similar to #51 You need to resize twice for the scrollbars to appear.

[2015-02-09 09:38] olizh opened #55 "Close button displayed incorrectly on iPhone"
On iPhone mobile safari, iOS 8.1.3. The cross of the close button is not displayed correctly. See screen shot.
![img_1529](https://cloud.githubusercontent.com/assets/4512113/6103765/6f8f441c-b082-11e4-9ac7-85e1fb64f5f0.PNG)

[2015-02-09 09:52] olizh commented on #55
It seems to be caused by lack of prefix. These two lines should fix it:

.o-overlay__close-icon:after, .o-overlay__close-icon:before {
-webkit-transform: translate(-50%,-50%)translate(.75em,.75em);
}

.o-overlay__close-icon {
-webkit-transform: rotate(45deg);
}

[2015-02-09 10:11] #31 closed

[2015-02-09 10:20] #38 closed

[2015-02-09 10:45] kaelig commented on #55
Thanks for reporting this.

Looks like an issue with autoprefixer not prefixing these properties, which is not normal at all.

@AlbertoElias can you have a look? Is there a test for autoprefixer in the build tools?

[2015-02-09 10:55] AlbertoElias commented on #55
@olizh Are you using Origami Build Tools to build o-overlay?

[2015-02-09 10:58] kaelig commented on #55
@AlbertoElias that happens when loading it from the build service.

[2015-02-09 11:04] AlbertoElias commented on #55
@kaelig Right, I'll take a look

[2015-02-09 11:55] Vallach commented on #55
Issue also affects:
- IE9 (both Vista and Win7 versions)
- Safari 5.1.10 (OSX 10.6.8)
- Safari 6.1.6 (OSX (10.7.5)
- Safari 8.0.3 (OSX 10.10.2)

Note:
- cross icon (x) is not centered inside the circle on IE11 Metro
- (x) char is inside a square on IE8 (known issue most probably)

[2015-02-09 12:02] kaelig commented on #55
Thanks for the thorough testing! Most certainly caused by a autoprefixer issue.

Correct, this is a known and intended degradation.

Good catch! It's 1px off, I'll see if I can fix that in a future release.

Here's a selector hack to target IE 11+:

[code]

[2015-02-09 12:36] Vallach commented on #52
Affects:
- all Safari versions from 5 to 8 (not tested versions older than 5)
- Mobile Safari 8.1.3

[2015-02-09 13:05] Vallach commented on #27
What is the status of this issue, is it a "no-fix"?
Currently, clicking outside of the overlay will not close it.

[2015-02-09 13:22] AlbertoElias commented on #27
This is not really a bug as this is how the module was designed. I'm going to close it for now as there hasn't really been much debate about this. If it comes up in the future, we can reopen

[2015-02-09 13:22] #27 closed

[2015-02-10 14:41] olizh commented on #55
@alberto yes I use the build service

[2015-02-11 14:17] roland-vachter opened #56 "o-overlay title has no font family"
I think it should have some sensible default. Unfortunately there's no option (as far as I know) to specify a custom class to it and apply some styles.

Using it for comments we would like to have a default font family (not the very default of the page), but we can't just override styles of core overlay elements.

[2015-02-11 15:17] AlbertoElias commented on #56
We decided not to force any font family on modules so you can set whatever you want. Can't you do

[code]

while obviously loading BentonSans or your desired font from o-fonts or whatever font loading system you have in place.

[2015-02-11 15:33] roland-vachter commented on #56
This is tricky, for sure. The point is that it affects all other module's overlay's. I'm not sure how could this be resolved. Maybe this could be a topic for the origami meeting.

[2015-02-11 15:38] AlbertoElias commented on #56
This has been decided in previous Origami meetings. If you think your module needs to set a font, I can understand o-comments might be a special case, but we prefer to be font agnostic and leave it to products to decide. We're not setting any font at all, so it should be easy to override

[2015-02-12 07:36] roland-vachter commented on #56
Hmm ok.

[2015-02-12 07:37] roland-vachter commented on #56
Ok. I'll close it for now, we'll see how we can resolve it.

[2015-02-12 07:37] #56 closed

[2015-02-12 11:09] manalishi79 opened #57 "Alignment of arrow - compact overlay"
Arrow at the top of the overlay box allowed to be aligned. i.e. a certain distance from the corners rather than automatically centred.

![overlay](https://cloud.githubusercontent.com/assets/3977053/6166383/8f104a26-b2a7-11e4-8b09-73f5c0171170.png)

[2015-02-12 11:11] kaelig commented on #57
Looks like a positioning issue that could be hacked in manually instead of being a parameter built into the module itself.

[2015-02-12 11:25] AlbertoElias commented on #57
It can be hacked, but I think it should be built into the module even as a default behaviour. If the overlay doesn't fit centered because the trigger or the target is too far to the left or right, top or bottom, the arrow can move.

[2015-02-17 09:24] roland-vachter opened #58 "iPad tap on body doesn't close the overlay"
http://jsbin.com/xotawunuwa/1

[2015-02-17 14:39] roland-vachter opened #59 "Possibility to override z-index as a config"
Default z-index could be too low for some products. z-index should be override-able to a higher value.

[2015-02-19 11:32] #59 closed

[2015-02-23 10:27] Vallach commented on #40
Still seeing the issue on IE8 (also occurs when pressing the ESC key while the overlay is visible). Has the fixed version been released?

[2015-02-23 10:39] AlbertoElias commented on #40
@Vallach Yes, it should be fixed. Can you pass me the information of how you're using it? Is it a real IE8 or a more modern IE in compatibility mode?

[2015-02-23 11:03] Vallach commented on #40
I'm using Windows7 with native IE8 (8.0.7601.17514) and Windows XP, native IE8 (8.0.6001.18702), both on browser mode: IE8, document mode: IE8 Standards.

Issue occurs while using the "Commenting Settings" overlay available in the TEST env on any article page, above the comments widget (simply open the settings overlay and click anywhere inside it or press ESC).

'length' is null or not an object

[2015-02-25 22:58] triblondon opened #61 "Stop calling it 'wide-squat'"
The buttons in the overlay demos are labelled 'wide-squat', but I can't think of any sensible reason for that.  I suggest "Launch overlay" :-)

[2015-02-25 22:59] triblondon opened #62 "Arrowed overlay demo not appearing"
The arrowed demo does not show up unless you expand the demo.  placing the button inside a container with a fixed height would hold the demo frame open to an appropriate height, wouldn't it?

[2015-02-25 23:00] triblondon commented on #62
I'm referring here to 'overlay-with-arrow' on http://registry.origami.ft.com/components/o-overlay@1.4.0

[2015-02-26 10:23] AlbertoElias commented on #62
Same as #18 But yes, that would be a solution

[2015-02-26 10:23] #62 closed

[2015-02-26 10:23] AlbertoElias commented on #18
@triblondon suggested in #62 to add the button in a fixed height container

[2015-02-27 23:29] #61 closed

[2015-03-02 16:34] #51 closed

[2015-03-02 16:34] #53 closed

[2015-03-02 16:44] #18 closed

[2015-03-02 16:49] AlbertoElias commented on #40
@Vallach When you say this issue is still there, do you mean the module doesn't work as expected or that the you see the error in the console but the module works? The [commit](https://github.com/Financial-Times/o-overlay/commit/adfe84362bd74c49f737a1de880dad74e383be80) that fixes this mentions that the error is still thrown but the module should work as expected

[2015-03-02 17:14] AlbertoElias commented on #52
I've tried seeing this in Safari 8 and couldn't reproduce, could you send a test case please?

[2015-03-03 11:35] Vallach commented on #40
As described in my previous comment, the error is also thrown when pressing ESC. Not sure if just a coincidence, but it is not possible to close the overlay by pressing Escape. Works fine on other browsers where the "length" error is not encountered.

[2015-03-03 12:06] Vallach commented on #52
Sent you detailed steps to reproduce and video of issue via email

[2015-03-03 17:06] AlbertoElias commented on #58
I've managed to reproduce, your demo was missing the polyfill service. It seems this is due to:

http://www.quirksmode.org/blog/archives/2010/09/click_event_del.html

I don't know what the best approach to this might be. Maybe listening for touchstart as well.

[2015-03-03 17:24] AlbertoElias commented on #55
Hi @olizh. I still need to test IE9, but in Safari it's due to autoprefixer still not running on the build service, this will be sorted out soon

[2015-03-03 17:25] AlbertoElias commented on #58
Right, I tested out adding touchstart and it does work. Will release as soon as I fix the page scroll bug on Safari

[2015-03-04 11:37] AlbertoElias commented on #55
Right, I checked in IE9 and it's the same. @samgiles is going to work on adding autoprefixer to the build service, I'll leave this issue open until then

[2015-03-04 11:57] AlbertoElias commented on #40
@Vallach I'm testing out the overlay demos in ie8 on Win7, and yes, when clicking Esc you get the error, but the overlay does close, it works as expected though you get the error, but you're expected to get the error https://github.com/Financial-Times/o-overlay/blob/master/README.md#browser-support

[2015-03-04 13:11] roland-vachter commented on #40
Hi Alberto,

Please see this example:
http://jsbin.com/mebuxapixo/3
It reproduces the close by ESC button issue.

Also we noticed that through the modal background you still can click links and buttons, and you also can click the open button several times, which opens new overlays.

[2015-03-05 13:24] AlbertoElias commented on #40
Hi Roland,

http://jsbin.com/raqaqu/1/edit This one does work, though you still get the error. I will try to see if there's a quick fix for the other option and for the modal issue, though, tbh, as ie8 is not primary anymore, I can't spend too much time on this

[2015-03-05 13:27] AlbertoElias commented on #40
Oh, wait! I just noticed you were instantiating the module wrong. You need to do it like this:

[code]

You're creating the same overlay over and over again every time you click the button and they clash. I will look into the modal problem

[2015-03-05 13:37] roland-vachter commented on #40
Ok. As IE8 is not primary anymore, I think we shouldn't invest too much time in that, especially for such minor issues.

I will fix the instantiation issue.

[2015-03-05 13:38] AlbertoElias commented on #40
Right, I'll add a note in the readme mentioning the modal background issue

[2015-03-05 13:55] samgiles commented on #55
Autoprefixer has been added to the build service.  @olizh could you try again? It might take a few hours for the existing cached bundle to expire in Akamai, try a cache buster if you're seeing the same results.

[2015-03-05 18:36] kaelig opened #65 "Close button alignment"
The close button should probably be aligned with the text.

Currently, it looks like this:

![screenshot 2015-03-05 18 36 02](https://cloud.githubusercontent.com/assets/85783/6511723/85fc3772-c366-11e4-96cd-1fd79c444d2e.png)

[2015-03-09 15:49] kaelig commented on #55
Closing, as this works in my tests. Thanks @olizh for reporting this in the first place!

[2015-03-09 15:49] #55 closed

[2015-03-10 07:49] Vallach commented on #55
Is the fixed version released? Looking on Safari in TEST and the icon is still not displayed correctly.

[2015-03-10 08:16] AlbertoElias commented on #55
Maybe you need to bust the cache. I double checked both IE and Safari and it's definitely working with the registry demos.

[2015-03-10 08:27] Vallach commented on #55
Definitely NOT working.. used Safari 5, 6, IE9, clean sessions, cache cleared and so on.. Most likely the fixed version is not in the FT Test env

[2015-03-10 08:51] AlbertoElias commented on #55
What's the build service url you're using for the overlay? As I said, the
issue is fixed in the build service, so we need to look into your
implementation as the cache should have been updated by now. This isn't
related to a release of o-overlay but of the build service, so you
shouldn't need to do anything.

--

------------------------------
This email was sent by a company owned by Pearson plc,

[2015-03-10 08:55] roland-vachter commented on #55
Latest release is 1.4.1, 8 days ago.
Is there a new version with this fix because I can't find it in github?

[2015-03-10 08:59] roland-vachter commented on #40
Currently I destroy the overlays when they are closed, and create a new one each time (but there's only 1 with that ID in the same time).
The issue is still there, so I think the issue is with the destroy (which seems to be just deleting the object, but it isn't removed from the array of objects).

[2015-03-10 09:00] Vallach commented on #40
Noticed that 3 issues are discussed here:
1. 'length' is null or not an object console error
2. overlay does not close with ESC
3. links are clickable in the modal background

IE8 issues are low priority, still how are we going to handle these ones?

[2015-03-10 09:00] roland-vachter opened #66 "Destroy doesn't remove the object from the array of overlays"
Destroy should remove the object from the array of overlays, not just delete.

[2015-03-10 09:00] roland-vachter commented on #66
Related to https://github.com/Financial-Times/o-overlay/issues/40

[2015-03-10 09:14] Vallach commented on #41
Any updates on these issues?
Note: iPad related defects should be treated as high priority

[2015-03-10 09:15] AlbertoElias commented on #55
Like I said, this has nothing to do with o-overlay, it's a build service
thing, that's why I'm asking for your build service url

--

------------------------------
This email was sent by a company owned by Pearson plc, registered office at
80 Strand, London WC2R 0RL.  Registered in England and Wales with company
number 53723.

[2015-03-10 09:17] roland-vachter commented on #55
We are not using the build service, we are including it using bower.
"o-overlay": "^1.1.2"

Then we are building the module with grunt (sass + browserify).

[2015-03-10 09:19] AlbertoElias commented on #55
Oooooh! Then that's where the error is! You need to run autoprefixer or use
the origami build tools that does it for you :)

--

------------------------------
This email was sent by a company owned by Pearson plc, registered office at
80 Strand, London WC2R 0RL.  Registered in England and Wales with company
number 53723.

[2015-03-10 09:19] roland-vachter commented on #55
For FT.com we are using a custom build process, probably would be better to use OBT for this custom build of FT.com..
So is this a configuration issue in the build process?

[2015-03-10 09:21] AlbertoElias commented on #55
yes, you can check out the sass build process here:
https://github.com/Financial-Times/origami-build-tools/blob/master/lib/tasks/build.js#L108

--

------------------------------
This email was sent by a company owned by Pearson plc, registered office at
80 Strand, London WC2R 0RL.  Registered in England and Wales with company
number 53723.

[2015-03-10 09:33] roland-vachter commented on #55
Ok, I'll take a look. Thanks!

[2015-03-10 09:34] roland-vachter commented on #55
And sorry for misreading your message :)

[2015-03-10 10:50] triblondon commented on #55
@roland-vachter @Vallach just chiming in here to say we provide two supported solutions for installing origami components: the build service and the Origami build tools.  If you're using one of these and you have a problem with it, we'll try and help as quickly as we can.  You don't have to use either of these, and if you choose to do your own thing, we provide the source code and documentation to

[2015-03-10 10:52] AlbertoElias commented on #66
It is removed [here](https://github.com/Financial-Times/o-overlay/blob/master/src/js/overlay.js#L425) It's actually not an object, not an array. As this is not the issue, I'll close this

[2015-03-10 10:52] #66 closed

[2015-03-10 11:00] roland-vachter commented on #66
Ah ok. But still, destroying and creating another one with the same ID has issues (cannot close with ESC in IE8). After destroying you can't create another overlay with the same ID?

[2015-03-10 12:53] kaelig commented on #41
Virtual keyboard breaks position fixed in iOS:
- http://stackoverflow.com/questions/14492613/ios-ipad-fixed-position-breaks-when-keyboard-is-opened
- http://stackoverflow.com/questions/25612442/position-fixed-does-not-work-when-the-virtual-keyboard-is-shown-in-ios

The way Bootstrap seem overcome that modal issue in iOS is by simply scrolling to the top of the page when a form is focused and the v

[2015-03-10 13:00] AlbertoElias commented on #41
@kaelig That solution is not that practical though. In the case of o-comments, the module is used in the middle of the page. Scrolling to the top is just as bad as #52

This is a hard one, I'll check out more examples and if there's not a clear work around, I think we'll have to leave it as is

[2015-03-10 16:18] AlbertoElias commented on #52
Speaking with @roland-vachter he suggested it might be due to an input having autofocus and he was right. Will try to find a work around for this

[2015-03-11 13:30] AlbertoElias commented on #40
So issue 1 is unavoidable and doesn't make the overlay not work as expected
I'm talking with @roland-vachter as this seems to be an issue with your implementation to avoid this from happening
Regarding number 3, that's a separate issue and we decided as ie8 is low priority to not fix for now. I'll raise an issue for it and mark it as won't fix.

This issue is closed as there was an initial bug in

[2015-03-11 13:33] AlbertoElias opened #68 "IE8: Clicking on modal background clicks on links and buttons"
Only happens in IE8, and except for a simple solution coming up, it won't be fixed as ie8 isn't a primary browser anymore.

[2015-03-11 15:11] AlbertoElias opened #69 "Prevent pinch to zoom from closing overlay"

[2015-03-12 10:10] roland-vachter opened #70 "o-overlay arrow is not updated"
http://jsbin.com/jutiwaxifo/1/edit

Scroll down until the overlay doesn't have enough space to show up at the bottom:
![image](https://cloud.githubusercontent.com/assets/4048999/6615859/7bad293a-c8b0-11e4-9d22-1c0983306768.png)

Close the overlay, then scroll up and open it again:
![image](https://cloud.githubusercontent.com/assets/4048999/6615866/92b92d72-c8b0-11e4-8b61-832b214f3596.png)

The arr

[2015-03-12 12:51] #58 closed

[2015-03-12 12:52] roland-vachter opened #71 "Overlay with arrow initialized the first time over the target button"
The Share overlay box from the bottom of the article opens over the Share button (when the page is not entirely scrolled down). It happens only at the first click on the button (each time the page is refreshed).

To reproduce visit FT.com INT environment: http://www.ft.com/intl/cms/s/2/4ea04522-47d6-11e4-a7d4-002128161462.html#slide0

[2015-03-12 14:14] AlbertoElias commented on #71
Once #72 is merged, could you try with that version and see if it still happens?

[2015-03-12 14:40] #70 closed

[2015-03-13 12:36] #68 closed

[2015-03-13 12:36] AlbertoElias commented on #52
We released 1.4.3 we should have fixed this. Could you check?

[2015-03-13 12:56] roland-vachter commented on #52
There is another issue which I reported to you, we'll release the next version once it become stable for our use case.

[2015-03-13 13:13] AlbertoElias commented on #52
But is this issue fixed? if so, this one should be closed and we can focus on the other one

[2015-03-13 13:16] Vallach commented on #52
It looks ok on Safari 5, but I'm unable to test on Safari 6 due to a polyfill error when attempting to open the overlay:

Can't find variable: performance
polyfill.min.js:3:1343

Assume this should be raised on the polyfill board and the current issue marked as [blocked]

[2015-03-13 13:26] AlbertoElias commented on #52
Try to use the non minified polyfill service (remove the '.min' from the url) and report that in the polyfill service repo. Can you test Safari 7 and 8 and mobile?

[2015-03-13 13:44] Vallach commented on #52
On mobile Safari 8.2 page scrolls down when closing the overlay. It should have maintained the same position.

Note: this is the only version of mobile Safari available to me

[2015-03-13 13:58] roland-vachter opened #73 "Form elements' default behavior is prevented"
http://jsbin.com/roxunejego/1/edit?html,output

The form cannot be submitted and the checkbox cannot be checked.
This is reproducible since the version 1.4.2.

[2015-03-13 14:03] AlbertoElias commented on #52
@Vallach I've tried in mobile safari 8.2 and 7.1 and can't replicate. How are you closing the overlay? If you click the close button, does it work? It might be that you scroll while closing it?

[2015-03-13 14:04] Vallach commented on #52
The scrolling issue is reproducible in my case by using either Close (x) button or the Cancel button. There is no accidental scrolling involved.

[2015-03-13 14:08] AlbertoElias commented on #52
Does it happen every time you close it without refreshing the page or just initially?

[2015-03-13 14:21] AlbertoElias commented on #52
I'm speaking with @Vallach privately to try to reproduce

[2015-03-13 14:36] Vallach commented on #52
http://jsbin.com/dahujilaka

[2015-03-13 14:43] roland-vachter commented on #52
It seems the issues is still with the autofocus.

[2015-03-13 14:43] AlbertoElias commented on #52
Yup =/ Will take a look

[2015-03-13 15:12] AlbertoElias commented on #52
Update: It only happens the first time you close the overlay like this. I changed your example to have a button run myOverlay.open(); http://jsbin.com/fohija

[2015-03-13 15:51] AlbertoElias commented on #52
Update #2: This is the same thing I was seeing in my tests, it doesn't exactly scroll to the bottom, if you make the page longer, it doesn't reach the bottom. and the scrolling distance seems to be quite specific and irrelevant to where you position the trigger. I tried moving it to different places, and the scroll always goes to the same height

[2015-03-13 16:43] AlbertoElias commented on #52
Update 3: It's related to #41 When you close the overlay, the input with autofocus is being focused at that precise point, so the keyboard comes up and scrolls the page

[2015-03-13 17:17] AlbertoElias commented on #52
Update 4: So it seems autofocus is just buggy in iOS 8: http://stackoverflow.com/questions/26146252/in-ios8-using-focus-will-show-virtual-keyboard-and-scroll-page-after-touch even though [caniuse](http://caniuse.com/#feat=autofocus) says it's not even there.

The error isn't when closing the overlay but when clicking anywhere on the screen, if you open the overlay and then click the title, it also

[2015-03-13 17:27] kaelig commented on #52
Disable autofocus on iOS altogether.

[2015-03-13 17:28] AlbertoElias commented on #52
It's only a problem in iOS 8 though and it would be up to products

[2015-03-13 17:31] kaelig commented on #52
Ok, how about we document this bug in the module's README as a "WONTFIX/Gotcha".

[2015-03-13 17:32] AlbertoElias commented on #52
I'm investigating a bit more and will document everything in the readme

[2015-03-13 17:38] AlbertoElias commented on #52
Ok, so autofocus doesn't work in mobile. In chrome you can run .focus() after the page loads, so you could do it when oOverlay.ready is dispatched. In iOS, autofocus will never work, and in iOS8 you can the problem that after the input with autofocus is loaded, and then there's a touchdown event, the focus is activated, so it's quite hard to control. I'm going to add all this to the readme and wil

[2015-03-16 09:02] Vallach opened #74 "Overlay does not adapt back to default size after browser window resize"
Scenario 1:
- open the overlay in a large browser window
- reduce the size of the browser window (until scrollbars are displayed)
- increase the width of the browser window

Result: overlay uses the full width of the browser window

Scenario 2:
- reduce the browser window to about 50% of screen width
- open the overlay

Result: overlay uses the full width of the browser window

Affects:
- version

[2015-03-16 13:08] AlbertoElias commented on #52
@roland-vachter So, can this be closed now?

[2015-03-16 13:10] roland-vachter commented on #52
Yep.

[2015-03-16 13:18] #52 closed

[2015-03-16 15:38] AlbertoElias commented on #73
Fixed in 1.4.5, can you check and if so, close the issue?

[2015-03-16 16:58] wheresrhys opened #77 "`destroy` event doesn't bubble"
Because `this.context.removeChild(this.wrapper);` is called before `this.broadcast('destroy');`

The nicest way I can think to tackle it is to fire the event twice, once on `this.el` and once on `this.context`.

[2015-03-17 08:32] roland-vachter commented on #73
Fixed.

[2015-03-17 08:32] #73 closed

[2015-03-17 11:47] AlbertoElias commented on #77
The change will be that it will be fired before the overlay is removed, I don't think the event should be fired in two places as it will bubble up and it's the overlay that gets destroyed, not the context

[2015-03-24 14:10] #74 closed

[2015-03-25 10:57] Vallach opened #78 "Buttons at the bottom unavailable after scrolling inside the overlay"
Steps:
1. Open an article page on FT.com in landscape mode
2. Scroll down to the comments widget
3. Open "Commenting Settings"
4. Tap "Autofollow" checkbox
5. Scroll up-down inside overlay

Result:
- "Save" & "Cancel" buttons are no longer displayed

Affects:
- iOS 8.2
- iPhone 5

![img_0072](https://cloud.githubusercontent.com/assets/3929840/6823171/66392174-d2ee-11e4-855e-14c8fc2c2433.PNG)
![img

[2015-03-30 10:50] AlbertoElias opened #79 "Shouldn't run viewport.listenTo('resize')"
This should be up to products, not being forced by the module. Would be a breaking change though

[2015-03-30 11:06] AlbertoElias commented on #78
I've been testing in an iPhone 5C with iOS8. Seems to happen when the keyboard comes out or you get both safari bars. I managed to get that blank bit at the bottom of the overlay. But you can actually still scroll the upper bit and reach the buttons. Seems that it resizes properly when it gets smaller, but not always when it has to become larger again.

[2015-03-30 15:13] AlbertoElias commented on #41
I'm going to close this and mark it as won't fix. We can't do anything about position: fixed. We've done a few other improvements so that it is usable at least The convention for mobile is to [not even use overlays](http://mobilewebbestpractices.com/user-experience/count-on-modal-windowsoverlays/), we should probably start thinking about this, specially for Next @danskinner

[2015-03-30 15:13] #41 closed

[2015-03-31 06:33] roland-vachter commented on #41
Hi Alberto, that's fine. Although the "not even use overlays" not gonna work in my opinion (in most cases), for sure not for comments for example (which will be part of Next as well).

[2015-03-31 09:06] AlbertoElias commented on #41
The not use overlays is basically: let's all sit down together and see if we can find a way to do this that provides a better user experience on mobile. No design has to be definite imho

[2015-04-03 11:57] #78 closed

[2015-05-29 13:36] roland-vachter commented on #71
It seems that this issue was an ft-cms override issue, simply the paddings were not correctly overriden.
It seems to be not reproducible with the latest o-overlay untouched.

[2015-05-29 13:40] AlbertoElias commented on #71
Can this be closed then @roland-vachter ?

[2015-05-29 13:41] roland-vachter commented on #71
Yes.

[2015-05-29 13:41] #71 closed

[2015-05-29 14:09] roland-vachter opened #82 "Overlay incorrect arrow position on resize"
Steps:
1. open the overlay with arrow
2. reduce the size of the browser window (both vertical/horizontal) so that the overlay's arrow is pointing downwards
3. increase the browser window to the original size (or go fullscreen)
Result:
- the overlay's position is incorrect (see screenshot)
- closing and reopening the overlay will still display it at the same incorrect position
Affects:
- IE11
- IE1

[2015-06-01 07:16] roland-vachter opened #84 "Overlay arrow missing after resize to a screen width less than the width of the overlay"
Resizing the browser window horizontally to a small width will cause the overlay's arrow do disappear
Affects:
- All browsers

![image](https://cloud.githubusercontent.com/assets/4048999/7907851/433a3e90-0847-11e5-8e88-6b82e75f0405.png)

[2015-06-01 07:36] AlbertoElias commented on #84
Might this be related to your override? If you scroll to the right, can you still not see the arrow?

[2015-06-01 07:45] roland-vachter commented on #84
No. I found the reason, and I'm working on a fix.
It enters the full-width mode, which adds an overflow: hidden, which hides the :before and :after elements.
I will create a pull request in a couple of mintes.

[2015-06-01 07:57] #82 closed

[2015-06-01 07:58] AlbertoElias opened #86 "overlay with arrow not checking if it's full width or full height properly"
https://github.com/Financial-Times/o-overlay/blob/master/src/js/overlay.js#L341 fills accepts dimension as a parameter, but it should really check if it fills the width when the arrow is left or right, and the height if the arrow is top or bottom, and in those cases, not add an arrow

[2015-06-01 15:00] #84 closed

[2015-06-02 06:29] roland-vachter commented on #84
Closed means released? Because we are interested when this will be released, to be able to retest.

[2015-06-02 09:58] AlbertoElias commented on #84
It gets closed automatically when you merge the pr. I'll make the release right away

[2015-06-02 10:07] roland-vachter commented on #84
Ah ok, I see.
Release, that would be wonderful :)

[2015-06-02 10:29] AlbertoElias commented on #84
Done

[2015-06-19 10:14] spriggsha opened #88 "Input box rendering slightly outside of overlay when scrolled."
Very slight visual issue.  This particular screenshot was taken in Chrome 43.

![image](https://cloud.githubusercontent.com/assets/7458891/8251377/00a667e4-1674-11e5-8879-547a7f869f30.png)

[2015-08-13 09:43] spriggsha opened #90 "Edge browser functionality"
Did a quick sanity check using the new Microsoft Edge browser, and it appears that the overlay buttons in the demos don't do anything.  No overlay, no console error.

I've got a Win10 VM set up for testing if it's needed.  Let me know and I can send VNC connection details.

[2015-08-13 10:33] kaelig commented on #90
Thank you very much for reporting, @spriggsha.

@AlbertoElias can you have a look into it?

[2015-08-13 10:53] AlbertoElias commented on #90
Yup, I had already talked with @spriggsha about it. Will check it out in the VM later today or tomorrow

[2015-08-14 00:19] patrickkettner commented on #90
There actually is an error, its just not happening on click but on load (and F12 tools doesn't show it unless you already have them open when loading the page).

The probkem is that the `.matches` method doesn't exist on the element being tested. The matchesSelector fallback does work, however. I created a PR on the o-dom repo to fix this.

[2015-08-14 09:12] AlbertoElias commented on #90
@patrickkettner Thanks a lot for your help. We do rely on the polyfill service for these things though. I've checked, and the issue is that the polyfill for matches isn't being served as Edge support in the polyfill service is still in qa and will be released next week. I've made sure it does with this new release :)

[2015-08-14 13:30] patrickkettner commented on #90
ah - should have assumed as much

cheers!

[2015-11-03 10:55] expe commented on #57
Is this still a problem?

![screen shot 2015-11-03 at 10 57 42](https://cloud.githubusercontent.com/assets/4994123/10906434/585139ae-8219-11e5-8211-4e6cf994bbd0.png)

[2015-11-03 11:21] AlbertoElias commented on #57
It was fixed for that specific implementation, o-overlay still doesn't support it

[2015-11-12 13:39] #88 closed

[2015-12-04 16:48] laurieboyes opened #98 "Empty and initially invisible overlay in ios6"
@AlbertoElias

http://registry.origami.ft.com/components/o-overlay

Once the page loads, press the button:
![image](https://cloud.githubusercontent.com/assets/4622378/11595225/4b9bf730-9aa6-11e5-942d-c8a73703a697.png)

The background darkens for the modal overlay, but no overlay appears.
![image 1](https://cloud.githubusercontent.com/assets/4622378/11595279/7f8cfde6-9aa6-11e5-9dad-e42a15537326.png

[2015-12-11 17:08] laurieboyes commented on #98
This is caused by an issue in the FT polyfills service that is causing it to not polyfill Window.requestAnimationFrame for these devices

[2015-12-18 17:10] laurieboyes commented on #98
Now resolved when using polyfills v2 (not that origami registry page is using polyfills v1)

[2015-12-18 17:10] #98 closed

[2016-02-24 09:11] roland-vachter opened #99 "Jumping around on iPad"
If a modal overlay has a form with a select box, clicking the select box triggers a weird jumping of the overlay.
Probably an iOS issue, but best to keep track of known issues.

[2016-03-15 14:59] onishiweb commented on #90
Should we test this again to make sure it's fixed, or can we assume this is all good after the release.

[2016-03-15 15:08] AlbertoElias commented on #90
If you'd like to retest, but it should be good

[2016-03-15 16:20] onishiweb commented on #90
Yep, tested and all good. Closing.

[2016-03-15 16:20] #90 closed

[2016-03-15 16:43] onishiweb commented on #39
I think we've gone ahead with this now and it is being used now too?

@AlbertoElias @alicebartlett worth keeping this open?

[2016-03-15 16:46] onishiweb commented on #54
I think this, #45 and #48 are all worth doing at the same time. I'll look into these in a block of work this week and get these bits fixed.

[2016-03-15 16:47] AlbertoElias commented on #39
Nope

[2016-03-15 16:47] #39 closed

[2016-03-15 17:05] #65 closed

[2016-03-29 15:07] #45 closed

[2016-03-29 15:07] #48 closed

[2016-03-29 15:07] #54 closed

[2016-04-04 07:46] petrklus opened #104 "Overlay with arrow scrolls to the bottom of the page in Safari when activated"
When the overlay with an arrow is triggered for the first time in Safari (tested IOS9 and desktop Safari 9.1), the view scrolls all the way down (the overlay is still displayed correctly).

I've found mention of this in o-overlay source but the mitigation does not seem to be working.

See preview here:

http://cnkpreview.s3.amazonaws.com/ft1_origami/o-overlay/overlay-with-arrow.html

The only diff

[2016-04-04 07:55] petrklus commented on #104
A quick mitigation seems to be removing the focus from the ```show``` function:

	// Give the overlay focus
	this.wrapper.setAttribute('tabindex', '0');
	this.wrapper.style.outline = 0;
	// this.wrapper.focus();

https://github.com/Financial-Times/o-overlay/blob/master/src/js/overlay.js#L254

[2016-04-05 16:05] AlbertoElias commented on #104
@onishiweb I think this is related to the accessibility improvements you made, could you take a look?

[2016-04-05 16:09] onishiweb commented on #104
@AlbertoElias yep I'll take a look in the morning, I think I know what's going on. Will test the theory and see if I can fix it without breaking the a11y updates.

[2016-04-12 09:42] petrklus commented on #104
@onishiweb Thank you for looking into this! Any updates?

[2016-04-12 11:14] onishiweb commented on #104
Hi @petrklus sorry it took a bit longer than expected to get sorted, I've opened a PR now (#105) that should fix the issue.

[2016-04-12 13:04] #104 closed

[2016-04-28 14:18] alicebartlett opened #107 "Replace close button with o-icons 'cross-disk'"

[2016-05-03 16:05] alicebartlett commented on #107
This will also fix a bug next are having...

[2016-05-26 10:01] #107 closed

[2016-05-26 10:01] onishiweb commented on #107
Closed by #111 and #110

[2016-10-07 14:55] pixelandpage opened #115 "overlay alignment bug"
When the button is narrow and right-aligned and the content of the overlay is wider than the button the overlay arrow isn’t lining up with the cta button properly. Also, if you click and dismiss the button a few times, the overlay gets narrower each time.

Example on JSbin: http://output.jsbin.com/cebamowoku

[2017-01-11 10:53] alicebartlett opened #118 "Nextify"
There are two designs for tooltips on next right now, which could have used o-overlay with an arrow.

We need to update the design of this component to something that is like either one of those.

Here are some screen shots for reference:
![screen shot 2017-01-11 at 10 47 05](https://cloud.githubusercontent.com/assets/68009/21845710/9afadd18-d7eb-11e6-85ba-4ce434cc9faa.png)

![hint](https://cloud.

[2017-01-11 17:30] alicebartlett commented on #69
Relevant for implementation: https://developer.mozilla.org/en-US/docs/Web/API/Pointer_events/Pinch_zoom_gestures

[2017-01-11 17:31] alicebartlett commented on #69
also tho http://caniuse.com/#feat=pointer

[2017-01-12 13:44] alicebartlett commented on #118
#120

[2017-01-12 13:44] #118 closed

[2017-01-12 13:51] alicebartlett commented on #79
Anyone remember what the origin of the change was? Did someone request it...?

[2017-01-12 15:20] alicebartlett commented on #115
Picking this up now. Hoping to fix for v1.X.X but i'm also working on a v2.X.X and if the fix for this involves a breaking change then it will go in there instead.

So, two bugs:

1. Overlay not lining up with the cta button properly
2. Click + Dismiss results in the overlay getting narrower each time.

[2017-01-12 15:26] alicebartlett commented on #115
@pixelandpage Your JS bin has expired, does this accurately represent the bug you were having?
http://jsbin.com/gatipir/edit?html,css,output

[2017-01-12 15:48] alicebartlett commented on #115
That JSBin has expired and I'm having trouble replicating this behaviour now, although I remember looking at it at the time and verifying it was a bug. >:(

[2017-01-12 16:26] JakeChampion commented on #79
I don't remember :-(

[2017-01-12 16:42] AlbertoElias commented on #79
I believe it was something about this setting a listener on the document,
which is outside of the scope of the component so it should be up to
products

On Thu, 12 Jan 2017 at 17:26 Jake Champion <notifications@github.com> wrote:

[2017-01-30 17:48] onishiweb opened #124 "Add test for optional heading feature"

[2017-02-15 10:40] pixelandpage commented on #115
Hi - This can be replicated consistently by clicking the delete button on a myft list: https://www.ft.com/myft/lists. (You'll need to create a list on this page if you don't already have one.)

Updated JSBIN link: https://output.jsbin.com/tupesoxeri

[2017-03-24 15:02] alicebartlett opened #131 "Update dependencies"
- [ ]  o-colors
- [ ] o-typog
- [ ] o-fonts

[2017-03-24 15:03] alicebartlett commented on #57
I've added this behaviour to o-tooltip.
It might need some refinement but the next major of o-overlay will be removing the arrow stuff completely.

[2017-03-24 15:03] #57 closed

[2017-03-24 15:05] #86 closed

[2017-03-24 15:07] alicebartlett commented on #115
OK yep, this is a bug. Next major of this module will deprecate the arrow functionality (which has been moved to o-tooltip) so going to close this as the bug is not present in o-tooltip

[2017-03-24 15:07] #115 closed

[2017-03-28 15:36] aendrew opened #133 "Setting parentNode option should set position: static"
Currently it leaves it as `position: fixed` which doesn't make a lot of sense when inserted into a parent element (at least, in the use case I'm considering — I may be wrong in this regard.).

[2017-03-28 15:42] aendrew commented on #133
Upon further investigation, the style in question is coming from a different Sass file than I thought and this might not be an issue. Please reopen if you think it is.

[2017-03-28 15:42] #133 closed

[2017-03-29 14:26] alicebartlett opened #135 "Remove "arrow" functionality"
The "arrow" functionality has now moved to o-tooltip, meaning large amounts of the re-drawing logic can be removed from o-overlay for the next major.

[2017-04-27 14:38] leggsimon opened #141 "Arrow not lining up with button and resizes on subsequent clicks."
<img width="397" alt="screenshot 2017-04-27 15 05 44" src="https://cloud.githubusercontent.com/assets/11544418/25488546/38cbdbac-2b5f-11e7-9062-da73d5b0e026.png">

If you go to  the list view page under myFT https://www.ft.com/myft/list/your-list-uuid and press the "Delete" button, the overlay's arrow doesn't line up with the button on smaller screens but on subsequent clicks it gets closer and cl

[2017-04-27 15:39] alicebartlett commented on #141
We shipped o-tooltip (https://github.com/Financial-Times/o-tooltip) and have deprecated this feature in o-overlay. o-tooltip has much better handling of edge cases like this, can you use that instead of o-overlay?

[2017-04-27 15:39] #141 closed

[2017-04-27 15:50] alicebartlett commented on #141
Sure!

[2017-06-05 11:32] #135 closed

[2017-06-05 11:32] #131 closed

[2017-09-14 14:46] alicebartlett opened #143 "Add (nearly) full screen option"
KAT would like some really big interstitials where the overlay goes much closer to the edge of the screen.

[2017-09-18 14:13] rowanbeentje opened #145 "Remove deprecated camelcase `parentNode`and `noFocus` options"
https://github.com/Financial-Times/o-overlay/pull/144 spotted that the v2.0.0 release includes options that can only be set from javascript instantiations, not via the attribute-based creation.  To fix this, the `parentNode` and `noFocus` options were renamed to `parentnode` and `nofocus`, with a deprecation notice and automatic mapping if the old names are in use on projects.

In the next major v

[2018-01-10 12:15] gvonkoss commented on #79
Closing as it is not currently relevant or requested.

[2018-01-10 12:15] #79 closed

[2018-01-10 12:25] gvonkoss commented on #77
Looks like this has been sorted https://github.com/Financial-Times/o-overlay/blob/35008f62b3fdfa6f436ffa719d4d7e8fec8601bd/src/js/overlay.js#L321-L335 — closing

[2018-01-10 12:25] #77 closed

[2018-01-15 10:33] gvonkoss commented on #143
@leggsimon do you still need this?

[2018-01-15 12:04] leggsimon commented on #143
Hmm, I'm not sure. I'm not entirely sure I remember what this was for or entirely what Alice's comment means.  Does it mean instead of
![screenshot 2018-01-15 12 01 23](https://user-images.githubusercontent.com/11544418/34941565-2d5bb15a-f9ec-11e7-90f7-67c407cfa2d7.png)

We could have
![screenshot 2018-01-15 12 02 59](https://user-images.githubusercontent.com/11544418/34941570-328b073e-f9ec-11e7-9

[2018-01-15 12:09] gvonkoss commented on #143
I'm not familiar with what you use o-overlay for (if not the example above), but if you don't need it I would be inclined to close the issue?

[2018-01-24 15:09] #124 closed

[2018-01-26 16:26] leggsimon commented on #143
🤷‍♂️ 🤷‍♀️ No one seems to know!

[2018-02-01 17:22] samuele-artuso commented on #143
Reopening as I need a full screen overlay.

I'm working on this:

![image](https://user-images.githubusercontent.com/3853889/35692909-7a00ed3c-0774-11e8-9fb7-23578898327a.png)

[2018-02-05 17:24] samuele-artuso commented on #143
@luketudorgriffiths

[2018-02-14 13:57] jonnywyatt opened #159 "'fullscreen' option not preventing scroll"
The readme says the fullscreen option 'disables scroll on the underlying document'

This doesn't seem to work, the background doc does scroll?

As a side note, the description also says 'is dismissible with the back button' - do you mean the escape button instead?

[2018-02-14 14:41] JakeChampion commented on #159
That sounds like a bug, is it reproducible on a demo page or did you notice this when implementing o-overlay into an application?

We are using the History API to make the back button close the overlay.
https://github.com/Financial-Times/o-overlay/blob/1dafe6b69c779245d58fb750dd087cae412087f9/src/js/overlay.js#L135-L143

[2018-02-14 16:20] notlee commented on #159
There's an explicit fullscreen option where the above is true. The fullscreen option forces the overlay to be fullscreen regardless of its content or the viewport size.

There is also implicit fullscreen functionality where the content of the model exceeds the height or width of the viewport. The implicit fullscreen does not prevent scroll. We can add that. 👍

[2018-02-15 16:18] notlee commented on #159
Modal overlays now prevent document scroll also https://github.com/Financial-Times/o-overlay/releases/tag/v2.2.1

[2018-02-15 16:18] #159 closed

[2018-02-15 16:19] notlee commented on #143
https://github.com/Financial-Times/o-overlay/releases/tag/v2.2.0

[2018-02-15 16:19] #143 closed

[2018-02-20 11:18] notlee opened #163 "Close "cross" consistency."
Bring the close "cross" size and spacing inline across o-overlay, o-tooltip, and o-banner.

<img width="562" alt="screen shot 2018-02-20 at 11 15 50" src="https://user-images.githubusercontent.com/10405691/36421248-ad28cad0-162f-11e8-9f5f-b1ff06378fab.png">
<img width="838" alt="screen shot 2018-02-20 at 11 15 59" src="https://user-images.githubusercontent.com/10405691/36421249-ad4cdd58-162f-11e8-

[2018-02-20 11:43] samuele-artuso opened #164 "Custom class overriden by base styling"
I want to change the background color of an overlay and to do so I'm using the `class` option. However, my styling is getting overridden by the base styling, as shown in the screenshot below. This bug seems to be happening on and off and I haven't managed to reproduce it deterministically.

<details>
 <summary>Screenshot demostrating this bug</summary>

![image](https://user-images.githubuserconte

[2018-02-26 10:25] notlee opened #166 "Prevent multiple overlays with the same id - throw error"
https://github.com/Financial-Times/o-overlay/pull/165

[2018-02-28 12:25] rowanmanning opened #168 "Expose the overlay instance on the `oOverlay.ready` event"
It'd be useful for the overlay ready event to expose the overlay instance. Should be a relatively small change to add it as `event.detail.overlay`.

[2018-03-05 10:21] notlee commented on #164
Hey @samuele-artuso, after our chat on Slack I think I can close this issue as it is not a problem with o-overlay itself. But please let me know if there's any other way we can help. :)

[2018-03-05 10:21] #164 closed

[2018-04-10 12:07] notlee opened #171 "Support multiple triggers"

[2018-05-09 13:27] notlee opened #174 "Enable custom positioning of the overlay?"
<img width="496" alt="screen shot 2018-05-09 at 14 23 50" src="https://user-images.githubusercontent.com/10405691/39816942-ac120b0a-5394-11e8-8d2e-dc6cd36e8c3f.png">

<img width="319" alt="screen shot 2018-05-09 at 14 06 09" src="https://user-images.githubusercontent.com/10405691/39816936-a64eb56a-5394-11e8-8a5a-eaf64d423bc6.png">

[2018-05-09 13:47] cfq commented on #174
That's what I've been doing as well but I thought it would be great to have an option to not set those inline styles in the first place.

[2018-05-09 13:50] cfq commented on #174
It would be great to have an option to disable automatic positioning. I've been using !important CSS rules to override them but it doesn't feel good.

[2018-10-31 14:25] notlee opened #176 "Introduce o-typography"
For spacing and typography. https://github.com/Financial-Times/o-overlay/blob/master/src/scss/overlay.scss#L36

[2019-06-26 11:02] notlee opened #193 "Use esm over cjs module syntax"
We're looking to remove our reliance on "babel-plugin-add-module-exports" by moving to standards based module syntax.

This is [may be a breaking change](https://github.com/Financial-Times/o-overlay/pull/185).

[2019-07-18 15:54] notlee opened #194 "Focus trapping bug with o-forms + round radio buttons"
https://financialtimes.slack.com/archives/C02FU5ARJ/p1563465056184200?thread_ts=1563456644.176900&cid=C02FU5ARJ

[2019-07-23 12:16] notlee commented on #194
Fixed in v2.7.8. https://github.com/Financial-Times/o-overlay/pull/195

[2019-07-23 12:16] #194 closed

[2019-08-23 09:49] notlee opened #197 "o-overlay primary Sass mixin"
Add a [primary mixin](https://github.com/Financial-Times/origami-proposals/issues/6) to o-overlay.

[2019-08-23 10:00] notlee opened #198 "o-overlay remove custom classes"
Remove the ability to [customise o-overlay classes](https://github.com/Financial-Times/origami-proposals/issues/4).

[2019-08-28 14:24] notlee opened #199 "fix visuallyHideTitle declaritively"
`data-o-overlay-heading-visuallyHideTitle` does not work as attributes are case insensitive and the options property becomes `opts.heading.visuallyhidetitle`. Therefore this conditional fails: https://github.com/Financial-Times/o-overlay/blob/f24469327a843da3efef49d27474b47e1887abfa/src/js/overlay.js#L277

<img width="596" alt="Screenshot 2019-08-28 at 15 34 19" src="https://user-images.githubuser

[2019-08-29 07:17] notlee commented on #145
Also remove `visuallyHideTitle for the same reason: https://github.com/Financial-Times/o-overlay/pull/200

[2019-08-29 07:50] notlee opened #201 "o-overlay complete breaking checklist"
Origami plan to release major new versions of low level components, which remove technical debt from recent additions such as component branding, and implement more recent proposals such as adding a primary Sass mixin and removing custom classes from many Sass interfaces.

**steps**

- [x] Add MIGRATION.md
- [x] Add a [primary mixin](https://github.com/Financial-Times/origami-proposals/issues/6),

[2019-09-27 12:56] notlee opened #204 "z-index with the `parentnode` option set"
If the `parentnode` option is set the `o-overlay-shadow` element comes after
the overlay in the DOM. As they both have the same `z-index` (10) the overlay
is hidden by the shadow element. A workaround is to manually set the `zindex`
option to 11 or higher.

The zindex of the overlay should always be higher than the shadow, so setting
the `parentnode` option doesn't require further user action.

Up

[2019-10-01 13:42] rowanmanning commented on #198
Resolved in #201

[2019-10-01 13:42] #198 closed

[2019-10-01 13:42] rowanmanning commented on #197
Resolved in #201

[2019-10-01 13:42] #197 closed

[2019-10-01 13:42] rowanmanning commented on #193
Resolved in #201

[2019-10-01 13:42] #193 closed

[2019-10-02 08:44] #204 closed

[2019-10-02 09:34] #166 closed

[2019-10-02 10:26] #145 closed

[2019-10-07 10:38] #176 closed

[2019-10-17 10:48] #201 closed

[2019-12-04 11:13] notlee opened #221 "Do not fire the `destroy` event on close. And fire a `close` event on close."
Currently a `destroy` event is fired on close (which also happens on destroy).
Fire the `destroy` event only on destroy, and fire a `close` event on close.

Currently users are relying on the `oLayers` event.
https://github.com/Financial-Times/o-comments/pull/133/files#diff-09d0170c453683b744639776e7e08611R135

[2020-01-09 16:30] notlee opened #224 "Remove any characters that aren't valid when generating a heading id."
Remove any characters that aren't [a valid css identifier](https://www.w3.org/TR/CSS21/syndata.html#value-def-identifier) when generating the heading id.

It appears only whitespace is removed currently.
https://github.com/Financial-Times/o-overlay/blob/81e779ae0af90616aeedb796ef42f3d9beb8855e/src/js/overlay.js#L246

Relates to https://github.com/Financial-Times/o-overlay/pull/223

[2020-01-09 18:14] JakeChampion commented on #224
That in regex form is 👇
[code]

I've yet to figure out how to encode this into a regex.

[2020-03-24 15:15] JakeChampion commented on #199
fixed via https://github.com/Financial-Times/o-overlay/pull/200

[2020-03-24 15:15] #199 closed

[2020-04-01 11:20] rowanmanning commented on #69
I think we'll probably be rebuilding o-overlay before this particular issue gets done. Also nobody has bugged us about this in 5 years so probably not a priority

[2020-04-01 11:20] #69 closed

[2020-12-04 09:45] chee commented on #99
Without a demo it's difficult to know if this has been fixed.

i've created this demo: https://output.jsbin.com/hehopiwide/1

<details>
<summary>the html</summary>
<pre><code>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta charset="utf-8"&gt;
  &lt;meta name="viewport" content="width=device-width"&gt;
  &lt;title&gt;JS Bin&lt;/title&gt;
  &lt;link rel="stylesheet" href="https://www.ft.

[2020-12-04 09:50] chee commented on #99
![web page with o-overlay and a closed select box](https://user-images.githubusercontent.com/178266/101148902-19810b80-3616-11eb-826a-1a33b15beee3.png)
![web page with o-overlay and an open select box](https://user-images.githubusercontent.com/178266/101148913-1e45bf80-3616-11eb-9334-322a4c20acc7.png)

[2020-12-04 09:51] chee commented on #99
I did not experience any jumping about on iPad. If anyone experiences any jumping about on iPad. in the future please open a new issue.

[2020-12-04 09:51] #99 closed

[2020-12-04 10:04] chee commented on #224
we could implement an actual parser here, which would be great fun, i'd use a state machine.

however, it may be more prudent to be more strict than the CSS spec and then people can open an issue if they run into an issue where they need something more.

How about this:

[code]

[2020-12-04 10:45] #224 closed

[2020-12-08 11:30] #168 closed

[2021-01-08 15:22] notlee opened #265 "Remove use of `o-layers`"
`o-layers` is only used by `o-overlay` so remove use of `o-layers`.
Update events namespace from `oLayers` to `oOverlay`.

`o-layers` will be no longer required by the spec:
https://github.com/Financial-Times/origami-website/pull/273#issuecomment-756812085

[2021-05-24 10:42] notlee commented on #171
This feature has been requested again: https://financialtimes.slack.com/archives/C02FU5ARJ/p1621852678012000

[2021-05-24 11:03] notlee commented on #171
It looks like adding support for a second trigger won't be too difficult, though the opens and codebase for o-overlay has become a little messy. I think this is a good candidate for review and potentially an overhaul including visual design/api

[2021-08-16 14:10] chee commented on #265
this was done in #274

[2021-08-16 14:10] #265 closed